# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Gitignore SAGAM

### Gradle ###
.gradle/

### IntelliJ ###
.idea/
*.iml
out/

### Java ###
build/

classes/
jar/
WebContent/


### CVS ###
CVS/
.cvsignore

### Eclipse ###
.myumldata
.mymetadata
.mystrutsdata
.myhibernatedata
.settings/
.project
.classpath
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.checkstyle
.fatjar
.tern-project
